.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 45px;
  margin: 100px 50px;
}

.cart-container {
  background-color: rgba(255, 153, 0, 0.3);
}
@media screen and (max-width: 1100px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

/*
<a href="https://ibb.co/yQ7vXNg"><img src="https://i.ibb.co/yQ7vXNg/reviewer-1.png" alt="reviewer-1" border="0"></a> <a href="https://ibb.co/98hq16Z"><img src="https://i.ibb.co/98hq16Z/reviewer-2.png" alt="reviewer-2" border="0"></a> <a href="https://ibb.co/PMtMkV0"><img src="https://i.ibb.co/PMtMkV0/reviewer-3.png" alt="reviewer-3" border="0"></a> <a href="https://ibb.co/r3Km968"><img src="https://i.ibb.co/r3Km968/reviewer-4.png" alt="reviewer-4" border="0"></a> <a href="https://ibb.co/g3rGz16"><img src="https://i.ibb.co/g3rGz16/reviewer-5.png" alt="reviewer-5" border="0"></a> <a href="https://ibb.co/9t8HhVt"><img src="https://i.ibb.co/9t8HhVt/reviewer-6.png" alt="reviewer-6" border="0"></a> <a href="https://ibb.co/pbQtcfG"><img src="https://i.ibb.co/pbQtcfG/reviewer-7.png" alt="reviewer-7" border="0"></a> <a href="https://ibb.co/99kbkcc"><img src="https://i.ibb.co/99kbkcc/reviewer-8.png" alt="reviewer-8" border="0"></a> <a href="https://ibb.co/QdmTzx1"><img src="https://i.ibb.co/QdmTzx1/reviewer-9.png" alt="reviewer-9" border="0"></a> <a href="https://ibb.co/mhXD0sh"><img src="https://i.ibb.co/mhXD0sh/reviewer-10.png" alt="reviewer-10" border="0"></a> <a href="https://ibb.co/0VQb8Qb"><img src="https://i.ibb.co/0VQb8Qb/reviewer-11.jpg" alt="reviewer-11" border="0"></a> <a href="https://ibb.co/j671XkJ"><img src="https://i.ibb.co/j671XkJ/reviewer-12.png" alt="reviewer-12" border="0"></a>


*/